# Python
__pycache__/
*.py[cod]
*.egg-info/
.ruff_cache/

# Virtual environment
venv/
.venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
*.log
staticfiles/

# Environment variables
.env

# Editors / OS
.vscode/
.idea/
.DS_Store
